.footer-center {
    background-color: var(--font-green);
    color: var(--secondary-color);
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
    padding: 6rem 12rem;

    .footer-notice {
        a {
            color: var(--secondary-color);
            text-decoration: none;

            &:hover {
                color: var(--button-color);
                text-decoration: underline;
            }
        }
    }
}

.footer-spacer {
    margin: 0 1rem;
}

.copyright {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 910px) {
    .footer-center {
        flex-direction: column-reverse;
        padding: 3rem 4.5rem;
    }
    .copyright {
        flex-direction: row;
        margin-bottom: 1rem;

        span {
            padding-right: 1rem;
        }
    }
    .footer-notice {
        margin-bottom: 1rem;
    }
    .footer-tech {
        margin-bottom: 1rem;
    }
}

@media (max-width: 500px) {
    .footer-center {
        align-items: flex-start;
        justify-content: center;
    }
}
