.footer-center {
    background-color: var(--font-green);
    flex-direction: row;
    justify-content: space-between;
    padding: 6rem 12rem;
    margin-top: 4rem;
    color: var(--secondary-color);
    .footer-notice {
        a{
        text-decoration: none;
        color: var(--secondary-color);
        }
    }
}

.footer-spacer {
    margin: 0 1rem;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}