
    <div class="footer-center disp-fl-aln">
        <div class="copyright">
            <span>&copy;M. de Zanna 2022</span>
            <span>Vers. 2.1</span>
        </div>
        <span class="footer-tech">Created with &#9786; ( & Angular )</span>
        <div class="footer-notice">
            <a [routerLink]="['/imprint']" class="cursor legal-notice">legal Notice</a>
            <span class="footer-spacer">|</span>
            <a href="#" class="cursor data-protection">Imprint</a>
        </div>

    </div>
