.footer-spacer {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    width: 100%;
    padding-bottom: 4rem;
    .impress-data {
        display: flex;
        width: 100%;
        a {
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: var(--font-menu);
            &:hover {
                color: var(--hover-item);
            }
            &:first-child {
                margin-right: 1rem;
                margin-left: 0;
            }
            &:last-child {
                margin-left: 1rem;
                margin-right: 0;
            }
        }
        span {
            color: var(--font-green);
        }
    }
    .social-media {
        margin-right: 0.5rem;
        display: flex;
        a {
            text-decoration: none;
            margin-right: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            font-size: 1.5rem;
            background-color: var(--secondary-color);
            padding: 1rem;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            color: var(--font-green);
            &:hover {
                color: var(--secondary-color);
                background-color: var(--font-green);
                transition: all 0.4s ease-in-out;
            }
        }
    }
}
