<div class="footer-spacer">

    <div class="social-media"
        data-aos="flip-down"
        data-aos-delay="20"
        data-aos-duration="600">
        <a href="https://www.linkedin.com/in/marcel-de-zanna/" target="_blank" class="media-icon cursor"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Semjasa83" target="_blank" class="media-icon cursor"><i class="fa-brands fa-square-github"></i></a>
        <a href="https://www.get-in-it.de/profil/T9sOYRW9Mb2AnNY05SG5QGAcUbqfvWfK" target="_blank" class="media-icon cursor"><i class="fa-solid fa-code"></i></a>    
    </div>
    <div class="impress-data">
        <a [routerLink]="['/imprint']" class="cursor">Imprint</a>
        <span>|</span>
        <a href="#" class="cursor">Data Protection</a>
    </div>

</div>