<div class="headline-spacer disp-fl-just">
    <div class="headline disp-fl-just">
        <span class="headline-1">About</span>
        <span class="headline-2">Me</span>
    </div>
</div>

<div class="am-content disp-fl-just mb-6">
    <img src="./assets/img/archery.jpeg"
        data-aos="fade-right"
        data-aos-easing="ease-in-sine"     
        data-aos-offset="200"
        data-aos-delay="20"
        data-aos-duration="600">
    <div class="am-splitter"
        data-aos="fade-left"
        data-aos-easing="ease-in-sine"     
        data-aos-offset="200"
        data-aos-delay="20"
        data-aos-duration="600">
        <span class="am-txt">
            As a Front-End Web Developer, my experience ranges from practical Group Projects to individual practical
            projects. I started with Webpages to RestAPI, SCRUM, Games, and last but not least business Applications.
            <br>
            <br>
            I love learning new technologies and spending time with my family. I`ve been doing Archery for many years for
            mental Balance.
        </span>
        <a class="cursor"  href="https://drive.google.com/file/d/1LVObxfaExcc_hfjHvSjmO-G24icJWwli/view" target="_blank">Download CV</a>
    </div>
</div>