<div class="headline-spacer disp-fl-just">
    <div class="headline disp-fl-just">
        <span class="headline-1">My</span>
        <span class="headline-2">Projects</span>
    </div>
</div>

<div class="project-area">  
    <div class="projects" *ngFor="let works of myWorks">
        <div class="project-img"
                data-aos="fade-right" 
                data-aos-easing="ease-in-sine" 
                data-aos-offset="200"
                data-aos-delay="20" 
                data-aos-duration="600">
            <img src="{{works.img}}" class="project-img-spacer">
            <div class="social-media disp-fl-aln">
                <a href="{{works.webURL}}" target="_blank" class="media-icon cursor disp-fl-just {{works.status}}"><!--TODO LINK-->
                    <img class="media-img" src="assets/img/play.png">
                </a>
                <a href="{{works.gitURL}}" target="_blank" class="media-icon cursor disp-fl-just">
                    <img class="media-img" src="assets/img/icons/git.png">
                </a>
            </div>
        </div>

        <div class="project-info"
                data-aos="fade-left" 
                data-aos-easing="ease-in-sine" 
                data-aos-offset="200"
                data-aos-delay="20" 
                data-aos-duration="600">
            <div class="project-txt-section">
                <div class="project-txt">
                    <span class="project-name">{{works.name}}</span>
                    <span class="project-info-txt">{{works.description}}</span>
                </div>

                <div class="stack-section">
                    <span class="stack-intro">Build with:</span>
                    <span class="stack">{{works.tech}}</span>
                </div>
            </div>
        </div>
    </div>
</div>