<div class="headline">
    <span class="headline-1">Get</span>
    <span class="headline-2">in Touch</span>
</div>

<div class="contact-spacer">
    <form class="contact-form"
        data-aos="fade-right" 
        data-aos-easing="ease-in-sine" 
        data-aos-offset="200"
        data-aos-delay="20" 
        data-aos-duration="600">
        <span class="headline-3">Get In Touch</span>
        <div class="form-group"><input type="text" placeholder="Your Name" required></div>
        <div class="form-group"><input type="email" placeholder="Your E-Mail" required></div>
        <div class="form-group"><textarea cols="30" rows="20" Placeholder="Write a Message" required></textarea></div>
        <div class="form-button"><input type="submit" value="Send Message" class="cursor"></div>
    </form>
    <div class="contact-details"
        data-aos="fade-left" 
        data-aos-easing="ease-in-sine" 
        data-aos-offset="200"
        data-aos-delay="20" 
        data-aos-duration="600">
        <span class="headline-3">My Contact Details</span>
        <div class="contact-details-spacer">
            <ul>
                <li>
                    <span>Email</span>
                    <a class="cursor" href="mailto:marceldezanna@web.de">marceldezanna@web.de</a>
                </li>
                <li>
                    <span>Profile</span>
                    <a class="cursor" href="https://www.linkedin.com/in/marcel-de-zanna/">Marcel de Zanna</a>
                </li>
            </ul>
        </div>
    </div>
</div>