<div class="headline-spacer disp-fl-just">
    <div class="headline disp-fl-just">
        <span class="headline-1">Get in</span>
        <span class="headline-2">Touch</span>
    </div>
</div>

<div class="contact-spacer mb-6">
    <form class="contact-form"
        action="https://marcel-de-zanna.de/portfolio/send_mail.php"
        method="POST #form"
        data-aos="fade-right" 
        data-aos-easing="ease-in-sine" 
        data-aos-offset="200"
        data-aos-delay="20" 
        data-aos-duration="600">
        <span class="headline-3">Get In Touch</span>
        <div class="form-group"><input type="text" placeholder="Your Name"  name="name" required></div>
        <div class="form-group"><input type="email" placeholder="Your E-Mail" name="email" required></div>
        <div class="form-group"><textarea cols="30" rows="20" Placeholder="Write a Message" name="message" required></textarea></div>
        <div class="form-button" (click)="directToLanding()"><input type="submit" value="Send Message"  class="cursor"></div>
    </form>
    <div class="contact-details"
        data-aos="fade-left" 
        data-aos-easing="ease-in-sine" 
        data-aos-offset="200"
        data-aos-delay="20" 
        data-aos-duration="600">
        <span class="headline-3">Contact Details</span>
        <div class="contact-details-spacer">
            <ul>
                <li>
                    <span>Email</span>
                    <a class="cursor" href="mailto:info@marcel-de-zanna.de">info@marcel-de-zanna.de</a>
                </li>
                <li>
                    <span>Profile</span>
                    <a class="cursor" href="https://www.linkedin.com/in/marcel-de-zanna/">Marcel de Zanna</a>
                </li>
            </ul>
        </div>
    </div>
</div>