<div class="headline-spacer disp-fl-just mt-6">
    <div class="headline disp-fl-just">
        <span class="headline-1">My</span>
        <span class="headline-2">Skills</span>
    </div>
</div>

<div class="skills mt-2">
    <div class="skill-item disp-fl-just" *ngFor="let skill of skills" data-aos="zoom-in-left" data-aos-offset="200"
        data-aos-delay="20" data-aos-duration="600">
        <div class="skill-center disp-fl-just">
            <div class="skill-img disp-fl-just">
                <img src="{{ skill.img }}" />
            </div>
            <div class="skill-name">
                <span>{{ skill.name }}</span>
            </div>
        </div>
    </div>
</div>