<div class="headline-spacer disp-fl-just mt-nav">
    <div class="headline disp-fl-just">
        <span class="headline-1">My</span>
        <span class="headline-2">Imprint</span>
    </div>
</div>

<div class="imprint-spacer">

    <div class="imprint-content">
        <span class="imp-info">Angaben gem. § 5 TMG:</span>
        <span class="imprint-txt">
            Marcel de Zanna<br>
            Ludwig-Ottler-Str. 21c<br>
            86199 Augsburg
        </span>
        <span class="imp-info">Kontaktaufnahme:</span>
        <span class="imprint-txt">marceldezanna@web.de</span>
    </div>

</div>

<app-legalnotice></app-legalnotice>