.home-cmpl {
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .home-content {
        background-color: var(--dim-color);
        height: 100vh;
        justify-content: center;
        overflow: hidden;
        padding-top: 4rem;
        width: 100%;
        z-index: 1;

        .home-text {
            flex-direction: column;
            justify-content: center;
            width: 550px;

            .fine-text {
                font-size: 3rem;
                font-weight: 200;
                padding-bottom: 1.5rem;
            }
            .bold-text {
                font-size: 3rem;
                font-weight: 700;
            }
            .bold-1 {
                padding-bottom: 1.75rem;
            }
            .bold-2 {
                padding-bottom: 3rem;
            }
            .short-text {
                font-size: 1rem;
                font-weight: 100;
            }
        }
        .profil-img {
            border-radius: 100%;
            height: 350px;
            object-fit: cover;
            object-position: 10% 10%;
            padding: 2rem;
            width: 350px;
        }
    }
}

.bgr-img {
    animation: bgrLoop 10s ease-in-out infinite;
    height: 120%;
    object-fit: cover;
    position: absolute;
    width: 120%;
    z-index: 0;
}

.home-spacer {
    flex-direction: column;
    margin-top: 4rem;
    padding: 0 12rem;
}

@keyframes bgrLoop {
    0% {
        transform: scale(1) translateX(0) translateY(0);
    }
    50% {
        transform: scale(1.04) translateX(-50px) translateY(-50px);
    }
    100% {
        transform: scale(1) translateX(0) translateY(0);
    }
}

.social-media {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 4rem;
    height: 200px;
    background: var(--font-green);
    background: linear-gradient(0deg, rgba(186, 201, 100, 1) 0%, rgba(186, 201, 100, 0) 100%);
    border-left: 1px solid var(--font-green);
    flex-direction: column;
    justify-content: flex-end;
    .media-icon {
        padding: 1rem;
        background-color: var(--secondary-transparent);
        align-items: center;
        margin-top: 1rem;
        &:hover {
        background-color: var(--secondary-color);
        }
        .media-img {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 950px) {
    .home-content {
        flex-direction: column;
    }
}
