.home-cmpl {
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
    .home-content {
        background-color: var(--dim-color);
        height: 100vh;
        justify-content: center;
        overflow: hidden;
        padding-top: 4rem;
        width: 100%;
        z-index: 1;
        
        .home-text {
            flex-direction: column;
            justify-content: center;
            width: 550px;
            
            .fine-text {
                font-size: 3rem;
                font-weight: 200;
                padding-bottom: 1.5rem;
            }
            .bold-text {
                font-size: 3rem;
                font-weight: 700;
            }
            .bold-1 {
                padding-bottom: 1.75rem;
            }
            .bold-2 {
                padding-bottom: 3rem;
            }
            .short-text {
                font-size: 1rem;
                font-weight: 100;
            }
        }
        .profil-img {
            border-radius: 100%;
            height: 350px;
            object-fit: cover;
            object-position: 10% 10%;
            padding: 2rem;
            width: 350px;
        }
    }
}

.bgr-img {
    animation: bgrLoop 10s ease-in-out infinite;
    height: 120%;
    object-fit: cover;
    position: absolute;
    width: 120%;
    z-index: 0;
}

.home-spacer {
    flex-direction: column;
    margin-top: 4rem;
    padding: 0 12rem;
}

@keyframes bgrLoop {
    
    0% {
        transform: scale(1) translateX(0) translateY(0);
    }
    50% {
        transform: scale(1.04) translateX(-50px) translateY(-50px);
    }
    100% {
        transform: scale(1) translateX(0) translateY(0);
    }
}

.social-media {
    background: var(--font-green);
    background: linear-gradient(0deg, rgba(186, 201, 100, 1) 0%, rgba(186, 201, 100, 0) 100%);
    border-left: 1px solid var(--font-green);
    bottom: 0;
    flex-direction: column;
    height: 200px;
    justify-content: flex-end;
    left: 4rem;
    position: absolute;
    z-index: 1;
    
    .media-icon {
        align-items: center;
        background-color: var(--secondary-transparent);
        margin-top: 1rem;
        padding: 1rem;
        
        &:hover {
            background-color: var(--secondary-color);
        }
        .media-img {
            height: 30px;
            width: 30px;
        }
    }
}

@media (max-width: 950px) {
    
    .home-content {
        flex-direction: column-reverse;
    }
    .profil-img {
        height: 280px !important;
        margin-bottom: 4rem;
        padding: 0 !important;
        width: 280px !important;
    }
}

@media (max-width: 760px) {
    
    .home-spacer {
        margin: 0 2rem;
        overflow-x: hidden;
        padding: 0 !important;
    }
    .social-media {
        border-left: none;
        left: 0;
    }
}

@media (max-width: 500px) {
    
    .home-content {
        
        .home-text {
            transform: scale(0.6);
        }
        .profil-img {
            height: 200px !important;
            margin-bottom: 0;
            width: 200px !important;
        }
    }

    .social-media {
        background: var(--font-green);
        background: linear-gradient(90deg, rgba(186, 201, 100, 1) 0%, rgba(186, 201, 100, 0) 100%);
        border-bottom: 1px solid var(--font-green);
        border-left: none;
        flex-direction: row;
        height: 36px;
        
        .media-icon {
            margin-right: 1rem;
            margin-top: 0;
            padding: 0.5rem;
            
            .media-img {
                height: 20px;
                width: 20px;
            }
        }
    }
}
