<div class="home-cmpl disp-fl-just">
    <img class="bgr-img" src="./assets/img/code1.jpg">

    <div class="home-content disp-fl-aln">
        <div class="home-text disp-fl-aln">
            <span class="fine-text">Hello, I'm</span><br>
            <span class="bold-text"><span style="color: var(--font-green);">Marcel de Zanna</span><br> A Web
                Developer</span><br>
            <span class="short-text">AND THIS IS MY PORTFOLIO</span>
        </div>
        <img class="profil-img" src="../assets/img/profilepic.jpg">
    </div>
</div>
<div class="home-spacer disp-fl-just">
    <app-about></app-about>
    <app-resume></app-resume>
    <app-projects></app-projects>
    <app-contact></app-contact>
</div>
